entrypoint = "README.md"
modules = ["nodejs-22"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3001

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3000

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Dev Server"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "EXPO_PACKAGER_PROXY_URL=https://$REPLIT_DEV_DOMAIN REACT_NATIVE_PACKAGER_HOSTNAME=$REPLIT_DEV_DOMAIN npx expo start"

[[workflows.workflow]]
name = "EAS Init"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx eas init"

[[workflows.workflow]]
name = "EAS Update"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx eas update --auto"

[[workflows.workflow]]
name = "EAS Publish Preview iOS"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx eas build --platform ios --profile preview"

[[workflows.workflow]]
name = "EAS Publish Preview Android"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx eas build --platform android --profile preview"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Web Preview"

[[workflows.workflow]]
name = "Web Preview"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx expo start --tunnel --port 5000 --go"
waitForPort = 5000

[agent]
expertMode = true

[userenv]

[userenv.shared]
EXPO_PUBLIC_CPX_SECURE_HASH = "${CPX_SECURE_HASH}"
EXPO_PUBLIC_SUPABASE_ANON_KEY = "sb_publishable_33HgxcoB8fqDCE514PdkFw_PojUYBTL"
EXPO_PUBLIC_SUPABASE_URL = "https://fxbyabofsejlhtbboynn.supabase.co"
EXPO_PUBLIC_VERIFY_REWARD_URL = "https://fxbyabofsejlhtbboynn.supabase.co/functions/v1/verify-reward"
